/*------------------------------------
    Section: About
------------------------------------*/

.section-about-1 {
    .bg-color {
        background-color: var(--base-0);
    }
    .my-avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 30px;
        border-left: 3px solid var(--primary);
        border-bottom: 3px solid var(--primary);
    }
    .my-resume {
        top: 0;
        position: relative;
        padding-bottom: 100px;
        audio {
            width: 100%;
            height: 36px;
            display: block;
        }
        &:before {
            top: -100px !important;
            bottom: 200px !important;
        }
        &:after {
            top: 100px;
            bottom: 0;
            width: 50%;
            content: "";
            opacity: 0.1;
            position: absolute;
        }
    }
    .section-title-1 {
        padding: 0 15px;
    }
    .section-podcasts {
        padding-bottom: 100px;
    }
}
@media (max-width: 1200px) {
    .section-about-1 {
        .my-resume {
            &:before {
                display: none;
            }
        }
    }
}
@media (max-width: 768px) {
    .section-about-1 {
        .section-title-1 {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .my-resume {
            .container {
                padding: 0 15px;
            }
        }
    }
}
@media (max-width: 576px) {
    .section-about-1 {
        .my-resume {
            top: -30px;
        }
    }
    .section-resume-1 {
        .box {
            .inner {
                padding-left: 15px !important;
                padding-right: 0 !important;
                padding-bottom: 0 !important;
            }
        }
    }
}
